<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header color="tertiary">
      <ion-card-title>Esteban Echeverria</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Escritor y Poeta argentino, que introdujo el romanticismo en el pais. Nacido el 2 de septiembre de 1805 en la provincia de Buenos Aires,y fallecio el 19 de enero de 1851, a causa de una tuberculosis.
    </ion-card-content>
    <ion-button expand="block" routerLink="/curriculum-autor">Curriculum Vitae</ion-button>
    <ion-button expand="block">Email: Echeverria@gmail.com <a href="mailto:Echeverria@gmail.com"></a></ion-button>
    <ion-button expand="block">Instagram: <a href="https://www.instagram.com/esteban_echeveria37/"></a>@Esteban_echeverria37</ion-button>
    <ion-button expand="block">Nro.Telefono: 11 935684</ion-button>
  </ion-card>


  <hr>

  <ion-card>
    <ion-card-header color="tertiary">
      <ion-card-title>Homero</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Homero fue un poeta de la Antigua Grecia que nació y vivió en el siglo VIII a.C. Es autor de dos de las principales obras de la antigüedad: los poemas épicos La Ilíada y La Odisea
    </ion-card-content>
    <hr color="light">
    <ion-list>
      <ion-item>
        <ion-label>
          Lugar De Nacimiento:<br> Grecia Antigua
        </ion-label>
      </ion-item>
      <hr>
      <ion-item>
        <ion-label>
          Fecha de fallecimiento:<br> sigo VIII a.C
        </ion-label>
      </ion-item>
      <hr>
      <ion-item>
        <ion-label>
          Generos:<br> Poesia Y Literatura Universal
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header color="tertiary">
      <ion-card-title>Julio Cortazar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Escritor argentino, una de la grandes figuras del llamado <i>«boom»</i> de la literatura hispanoamericana, fenómeno editorial que, en la década de 1960, dio merecida proyección internacional a los narradores del continente.
    </ion-card-content>
    <hr color="light">
    <ion-list>
      <ion-item>
        <ion-label>
          Fecha.Nacimiento:<br>16 de agosto de 1914
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Fecha.Fallecimiento:<br> 12 de febrero de 1984
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Genero: Literatura Clasica
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header color="tertiary">
      <ion-card-title>Jorge Luis Borges</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Jorge Luis Borges, fue un destacado escritor de cuentos, poemas y ensayos argentino, extensamente considerado una figura clave tanto para la literatura en habla hispana como para la literatura universal.
    </ion-card-content>
    <hr color="light">

    <ion-list>
      <ion-item>
        <ion-label>
          Fecha.Nacimiento:<br> 24 de agosto de 1899
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Fecha.Fallecimiento:<br> 14 de junio de 1986
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Genero:<br> Cuentos, poemas y ensayos literarios
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>


  
</ion-content>
