<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header color="tertiary">
      <ion-card-title>Esteban Echeverria</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Escritor y Poeta argentino, que introdujo el romanticismo en el pais. Nacido el 2 de septiembre de 1805 en la provincia de Buenos Aires,y fallecio el 19 de enero de 1851, a causa de una tuberculosis.
    </ion-card-content>
    <ion-button expand="block" routerLink="/curriculum-autor">Curriculum Vitae</ion-button>
    <ion-button expand="block">Email: Echeverria@gmail.com <a href="mailto:Echeverria@gmail.com"></a></ion-button>
    <ion-button expand="block">Instagram: <a href="https://www.instagram.com/esteban_echeveria37/"></a>@Esteban_echeverria37</ion-button>
    <ion-button expand="block">Nro.Telefono: 11 935684</ion-button>
  </ion-card>
  
</ion-content>
